<!-- Footer -->
<section id="footer">
	<div class="container">
		<div class="row text-center text-xs-center text-sm-left text-md-left">
			<div class="col-xs-12 col-sm-4 col-md-4">
				<h5>Links</h5>
				<ul class="list-unstyled quick-links">
					<li>
						<a href=""><i class="fa fa-angle-double-right"></i>Início</a>
					</li>
					<li>
						<a href=""><i class="fa fa-angle-double-right"></i>Camisas</a>
					</li>
					<li>
						<a href=""><i class="fa fa-angle-double-right"></i>Bermudas</a>
					</li>
					<li>
						<a href=""><i class="fa fa-angle-double-right"></i>Sapatos</a>
					</li>
					<li>
						<a href=""><i class="fa fa-angle-double-right"></i>Carteiras</a>
					</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4">
				<h5>Social</h5>
				<ul class="list-unstyled quick-links">
					<li>
						<a href=""><i class="fa fa-angle-double-right"></i>Facebook</a>
					</li>
					<li>
						<a href=""><i class="fa fa-angle-double-right"></i>Youtube</a>
					</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4">
				<h5>Quem somos nós</h5>
				<ul class="list-unstyled quick-links">
					<li>
						<a href=""><i class="fa fa-angle-double-right"></i>Sobre</a>
					</li>
					<li>
						<a href="javascript:void();"
							><i class="fa fa-angle-double-right"></i>Perguntas Frequentes</a
						>
					</li>
					<li>
						<a href=""
							><i class="fa fa-angle-double-right"></i>Devenvolvido por Ramon</a
						>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div
				class="
					col-xs-12 col-sm-12 col-md-12
					mt-2 mt-sm-2
					text-center text-white
				"
			>
				<p class="h6">
					<a class="text-green ml-2" href="" target="">Loja Ostentação</a> &copy
					Todos os direitos reservados.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- ./Footer -->
